@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;
    padding-top: 3%;
}

.navbar {
    font-size: 1.6rem;
    top: 0;
    z-index: 999;
    height: 6%  ;
}   

.accordion-button {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.accordion-collapse {
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding: 1%;
    overflow-x: auto;
}

.jogadores {
    width: 30%;
    padding: 1%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;

}

.jogadores img {
    border-radius: 12px;
    margin-bottom: 5%;
}

.descJogadores strong {
    font-size: 1.6rem;
}